In [2]:
import pandas as pd

data = pd.read_csv('reading_material_poll.csv')

data

    Unnamed: 0  male  female
0      fiction   250     200
1  non_fiction    50    1000

In [9]:
data.values

array([['fiction', 250, 200],
       ['non_fiction', 50, 1000]], dtype=object)

In [13]:
rows = len(data.values)
cols = len(data.values[0])-1 # Excluding row names

print('Total rows: ', rows)
print('Total cols: ', cols)

Total rows:  2
Total cols:  2

In [20]:
ith_row_sum = []
ith_col_sum = []

for i in range(0, rows):
    val=0
    for j in range(1, cols+1):
        val+= data.values[i][j]
    ith_row_sum.append(val)
    
for i in range(1, cols+1):
    val=0
    for j in range(0, rows):
        val+= data.values[j][i]
    ith_col_sum.append(val)
    
print('# Row sum')
print('Fiction: ', ith_row_sum[0])
print('Non-Fiction: ', ith_row_sum[1])

print('\n# Column sum')
print('Male: ', ith_col_sum[0])
print('Female: ', ith_col_sum[1])

# Row sum
Fiction:  450
Non-Fiction:  1050

# Column sum
Male:  300
Female:  1200

In [24]:
total_sum = sum(ith_row_sum) # or sum(ith_col_sum)
total_sum

1500

In [25]:
observed = []
for i in range(0, rows):
    l = []
    for j in range(1, cols+1):
        l.append(data.values[i][j])
    observed.append(l)
    
observed

[[250, 200], [50, 1000]]

In [26]:
expected = []
for i in range(0, rows):
    l = []
    for j in range(0, cols):
        l.append((ith_row_sum[i]*ith_col_sum[j])/total_sum)
    expected.append(l)
    
expected

[[90.0, 360.0], [210.0, 840.0]]

In [35]:
chi_sq = 0
for i in range(0, rows):
    for j in range(0, cols):
        chi_sq+= ((observed[i][j]-expected[i][j])**2)/expected[i][j]

chi_sq = round(chi_sq, 2)
chi_sq

507.94

In [36]:
degree_of_freedom = (rows-1)*(cols-1)
degree_of_freedom

1